.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.features p {
  font-size: 1rem;
  line-height: 1.6;
}
